.root {
  position: relative;
}
.input {
  width: 250px;
  padding: 10px 20px;
  border: 1px solid rgb(136, 135, 135);
  border-radius: 12px;
  padding-left: 40px;
}

.icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 16px;
  top: 12px;
  opacity: 0.6;
}
